[2011-05-03 06:02] erikvold opened #4 "Error in error console when the Scriptish toolbarbutton is not used"
Error: document.getElementById("scriptish-button") is null
Source File: chrome://greasefire/content/browser.js
Line: 54

[2011-05-03 16:58] erikvold opened #5 "Need a wiki page for contributors"
I've tried making a proxy file to my greasefire clone w/in my Firefox profile's `extensions` folder, but that seems to cause a few errors that do no occur when building an xpi and testing that.

@skrul can you please describe your development process in a wiki page?

[2011-05-11 02:33] erikvold opened #7 "Remove use of <em:unpack>true</em:unpack>"
`<em:unpack>true</em:unpack>` slows the start-up time, so we should alter `makexpi.sh` so that we can remove `<em:unpack>true</em:unpack>`

[2011-05-11 02:34] erikvold opened #8 "Error in error console when GM and Scriptish are not installed"
Error: popup is null
Source File: chrome://greasefire/content/browser.js
Line: 57

[2011-05-11 02:35] erikvold opened #9 "Use icon64"
If it's possible, using a 64px icon image would look better in the new EM.

[2011-05-11 02:36] erikvold opened #10 "Move maxVersion to FF6"

[2011-05-11 02:37] erikvold opened #11 "Support Seamonkey"
Scriptish supports Seamonkey, it'd be nice if Greasefire did too.

[2011-05-11 02:40] tony1223 commented on #7
The problem is how we could get the included database which location in firefox\indexes folder ,

As what I know , we have following thing to do ,
need to change GF_GetIndexesDir in gfGreasefireService.js to find a better way instead of directoryService.

It might not be a easy job since it require sync process ,
and the add-on process was changed to async in FF4,any ideas to this?

That's the onl

[2011-05-11 02:42] tony1223 commented on #9
Not sure if we have the icon ,but I think it's ok to replace it.

[2011-05-11 02:46] tony1223 commented on #8
That seems we need to handle the _setupMenu/_updateMenu in browser.js to determine the popup (or a create init flag instead of detecting popup is null.)

[2011-05-11 03:05] tony1223 commented on #8
Am going to handle this easy one first

[2011-05-11 03:15] erikvold commented on #7
Hmm, well the easy (and perhaps not the best) solution that I see here is to store these `indexes` folder outside of the extension. We may be able to compress the `indexes` folder and drop that in the user's profile dir with a name like `greasefire_indexes_20110509.jar`, I've not tried that with a DB b4 tho.

If we must store the indexes with the extension, then we could store updated indexes in a

[2011-05-11 03:17] erikvold commented on #7
It might be possible to simply add and remove files from the xpi as well.

[2011-05-11 03:18] erikvold commented on #7
I kind of prefer the jar idea I mentioned first tho, if it works..

[2011-05-11 04:07] tony1223 commented on #7
That sounds not bad , could try to implement it.

[2011-05-11 04:18] tony1223 commented on #8
fixed since 2011/5/11

[2011-05-11 04:21] tony1223 commented on #4
It should be a easy one ,
but I am not sure how could i reproduce it for "scriptish toolbarbutton is not used ".

I try to restore default but nothing happened, i guess am doing somethin wrong.

any ideas?

[2011-05-11 04:22] tony1223 commented on #11
I am not aware of Seamonkey so far...lol.  ok  , could give it a try , but need to get what seamonkey is first...

[2011-05-11 04:33] erikvold commented on #4
you should be able to use the [Toolbar customization](http://kb.mozillazine.org/Toolbar_customization_-_Firefox) to remove the toolbar button, then you'd need to open a new window or restart.

[2011-05-11 04:34] erikvold commented on #11
@tony1223 http://www.seamonkey-project.org/ ;)

[2011-05-11 04:37] tony1223 commented on #4
I test and found this is covered by Issue 8.

[2011-05-11 04:37] #4 closed, assigned to tony1223

[2011-05-11 04:57] erikvold commented on #8
Hmm there seems to be a issue with your patch @tony1223, all I ever see is "Grease File.." where I should see a "# scripts available" and I never see the fire image behind the Scriptish icon.

I've saved the patch in two branches:
https://github.com/erikvold/greasefire/tree/issue-8
https://github.com/erikvold/greasefire/tree/issue-8-merge

I'm going to back it out for now.

[2011-05-11 05:07] erikvold opened #12 "Fix author history"
The impact graph is disconnected because the author information for @skrul changed after the git import. We can rewrite the history and correct the author information so that the [impact graph](https://github.com/skrul/greasefire/graphs/impact) connects @skrul's history.

[2011-05-11 05:28] #8 closed, assigned to tony1223

[2011-05-11 05:30] tony1223 commented on #8
hmm , that's my bad to forget testing the feature.  This time it should work fine.

[2011-05-11 05:33] erikvold commented on #8
yah I just tried it w/ Scriptish and that was working well.

[2011-05-11 05:35] tony1223 opened #13 "add Toolbar_customization_events support"
Ref: http://code.google.com/p/greasefire/issues/detail?id=21

As Erik mentioned before , using event to handle this.
 https://developer.mozilla.org/en/XUL/Toolbars/Toolbar_customization_events

[2011-05-11 05:50] erikvold opened #14 "Error: gBrowser.addProgressListener was called with a second argument, which is not supported."
Error: gBrowser.addProgressListener was called with a second argument, which is not supported. See bug 608628.
Source File: chrome://browser/content/tabbrowser.xml
Line: 1846

[2011-05-11 05:52] #14 closed, assigned to erikvold

[2011-05-11 05:53] #10 closed, assigned to erikvold

[2011-05-11 06:03] erikvold opened #15 "There are no close window hotkeys"
for example on OSX cmd+w doesn't close the `prefs.xul` window or the `picker.xul` window.

[2011-05-11 06:06] #15 closed, assigned to erikvold

[2011-05-11 16:00] erikvold opened #16 "Beta channel"
We should setup a beta channel imo (if there isn't one already), I was thinking that the beta xpi and the `update.rdf` could be hosted on github. I have setup [Scriptish](http://github.com/erikvold/scriptish) in such a manner.

[2011-05-11 16:02] tony1223 commented on #16
You mean a freshly version for git master?

[2011-05-11 16:07] erikvold commented on #16
I mean providing a beta xpi from http://github.com/skrul/greasefire/downloads so that users can test release candidates before we do a release. And using a `update.rdf` so that they still get updates.

[2011-05-11 16:08] tony1223 commented on #16
Sounds good.

[2011-05-11 16:09] erikvold opened #17 "Localize (l10n)"
We should localize the few strings that we use.

[2011-05-11 16:36] erikvold opened #18 "GC v0.1"

[2011-05-11 16:37] erikvold commented on #18
Closing; I meant to make a milestone..

[2011-05-11 16:37] #18 closed, assigned to nobody

[2011-05-11 17:00] supahgreg opened #19 "Unable to load indexes when proxy file is used"
Files aren't found.  Got around it by removing the proxy file and making a symlink.

[2011-05-11 17:08] erikvold commented on #19
Hmm depending on how we solve #7 this may get solved as well.

[2011-05-11 17:36] supahgreg opened #20 "window.opener corruption after pressing "Install...""
Sometimes the script install dialog appears, but most of the time it does not.  When it does not, one of the following occurs:
1. Opening window chrome is messed up, only showing the "502 bad gateway" error page.  [screenshot](http://phob.net/greasefire_502badGateway_in_windowOpener.png)
2. Opening window chrome is messed up, showing the "502 bad gateway" error page, **but** with the user script s

[2011-05-11 18:04] erikvold commented on #20
I've noticed quite a few gateway and other errors, they seemed to be coming from USO but I haven't looked into that.

[2011-05-11 18:14] supahgreg commented on #20
Believe I found the cause... supahgreg/greasefire@fe71c4bd4e2902da0305e435ddd51e7f1b4b8aaf

[2011-05-11 20:07] supahgreg opened #21 "Improve "picker" window resizing"
Stuff like minimum width, horizontal scroll bars, etc.

[2011-05-11 20:55] supahgreg opened #22 "Handle script install if window.opener is closed"
Looks like a script simply won't install if the `window.opener` no longer exists.  Needs to be a fallback/replacement... maybe opening the USO page?

[2011-05-11 21:36] erikvold commented on #22
I don't think we need to use `window.opener`, for GM we can just use the most recent window, for Scriptish we can use the JSM we have for installing scripts.

[2011-05-11 23:05] supahgreg commented on #22
Did some quick testing.  Even with the Scriptish change, the following problems exist:
- Unable to install if Greasefire is the only window open and you try to install
- Unable to install if Greasefire is the only window open, you open a new window, and then try to install

[2011-05-11 23:24] erikvold commented on #22
This is more the fault of Scriptish and GM, we should remove the dep on a `window` in there.

This should be resolved by using the most recent window.

[2011-05-12 00:47] supahgreg commented on #22
How does this look?  [/supahgreg/greasefire/compare/issue-22](https://github.com/supahgreg/greasefire/compare/issue-22)

Got rid of `window.opener` in favor of finding a recent window, or creating a new one if none were found.

The problem I mentioned in my last post was that `installSelected` was trying to reference `window.opener`, which had been closed.

[2011-05-12 04:09] erikvold opened #23 "Need a wiki page describing how to run tests"
There appear to be tests in the ff ext, but I'm not sure how to run them atm.. we ought to have a wiki page that describes that this is done.

[2011-05-12 04:12] skrul commented on #7
It makes total sense to store the indexes in the user's profile rather than inside the extension dir.  I don't remember why I did it that way exactly -- it may be because I wanted to ship a copy of the indexes with the extension itself so the extension will work immediately after installing... and I was too lazy to move it :)

Ideally we could add a "greasefire@skrul.com" directory in the user's p

[2011-05-12 04:15] erikvold opened #24 "global excludes"
Maybe this could work the same as Scriptish's global excludes feature, allowing excludes by @exclude patterns (in the case of Scriptish reg expressions can also be used in the @exclude pattern).

[2011-05-12 04:17] erikvold opened #25 "Provide link to open script on userscripts.org"
Taking this from the TODO file.

I'm guessing that the idea is to add a link from `picker.xul` which would open the selected script's USO page in a new tab.

[2011-05-12 04:18] erikvold opened #26 "update system try when indexes is updated (to show new scripts)"
Taking this from the TODO file.

I'm not quite sure what the idea is here; perhaps updating UI when the indexes are updated?

[2011-05-12 04:31] erikvold commented on #7
This sounds good to me.

[2011-05-12 06:14] erikvold opened #27 ""-test" flag is not being recognized"
My guess is that the `gfTestHarnessCommandLineHandler` isn't being registered properly for FF4, I'm not sure though.

[2011-05-12 15:06] tony1223 commented on #27
I think so , I don't add it to menifest actually since I didn't know to test it...

[2011-05-12 18:02] supahgreg opened #29 "Use Services.jsm"
https://github.com/supahgreg/greasefire/compare/ServicesJSM

[2011-05-13 04:17] #27 closed, assigned to erikvold

[2011-05-13 04:19] erikvold opened #30 "Make a page where users can run test suite"

[2011-05-13 05:56] erikvold opened #31 "makexpi.sh should optionally include tests"
It would be nice if makexpi.sh could be modified to take a flag that determines if the testing code is to be included in the xpi it builds.

[2011-05-13 05:58] #31 closed, assigned to nobody

[2011-05-13 06:02] erikvold opened #32 "It should be possible to run Greasefire from source with a proxy file"

[2011-05-13 06:11] erikvold commented on #23
https://github.com/skrul/greasefire/wiki/Running-Tests

[2011-05-13 06:11] #23 closed, assigned to nobody

[2011-05-13 06:35] #29 closed, assigned to nobody

[2011-05-13 14:41] erikvold commented on #22
@supahgreg why'd you move your `issue-22` branch?

[2011-05-13 14:42] supahgreg commented on #22
Busy screwing it up with rebase :)  Will get it back shortly...

[2011-05-13 14:53] supahgreg commented on #22
There we go (supahgreg/greasefire@ba89f0425b54f932580aac94e355eaaa894ec6bc).

[2011-05-13 20:25] supahgreg opened #33 "Inactive icon for "picker" browser throbber"
I'd suggest showing `chrome://global/skin/icons/notloading_16.png` when content isn't loading.

[2011-05-13 20:26] supahgreg commented on #33
supahgreg/greasefire@e01f92a84b8a195c007b1954940a28be2a526f06

[2011-05-14 05:18] erikvold commented on #33
Why does this feel right to you?

Removing the throbber seems like common practice, and it's easy to spot a missing throbber icon. Trying to determine if the throbber has stopped or is still moving is more difficult.

[2011-05-14 05:39] #22 closed, assigned to nobody

[2011-05-14 05:43] erikvold commented on #20
#22 should have resolved this.

[2011-05-14 05:43] #20 closed, assigned to nobody

[2011-05-14 12:42] supahgreg commented on #33
Primarily because with nothing there it is just an empty, unused notch of space.  That looks unattractive, to me.

Maybe the link to open the USO page in a new tab (#25) could fill that spot.

[2011-05-14 22:04] erikvold opened #34 "textbox type="timed" is deprecated"
Warning in the EC:

[2011-05-14 23:22] #13 closed, assigned to erikvold

[2011-05-15 02:01] erikvold opened #35 "Remove Ci.gfIGreasefireService and Ci.gfIUpdaterService"
`Ci.gfIGreasefireService` and `Ci.gfIUpdaterService` can be detected by websites, and a webdev could assume that if these values exist then the user must have GM or Scriptish installed (GM exposes itself atm anyhow, but Scriptish has been stealth for awhile). If a webdev knows that a user has GM/Scriptish installed they can enable preventative JS.

Also maintaining these idl files just sucks..

[2011-05-15 02:46] supahgreg opened #36 "Picker opens if there are no results"
The easiest way to see this is to enter private browsing mode and click on the Greasefire menu item.

[2011-05-15 02:47] supahgreg commented on #36
See [/supahgreg/greasefire/compare/issue-36](https://github.com/supahgreg/greasefire/compare/issue-36)

[2011-05-15 02:57] supahgreg opened #37 "Update the "bad includes" list"
Need to update [the list](https://github.com/skrul/greasefire/blob/master/java/greasefire-scraper/src/com/skrul/greasefire/Generate.java#L49).  Some ones I've noticed:
- `*://*/*`
- `http*://*.*`
- `*.*.*/*`

These I'm not certain about:
- `*://*/ads.php`
- `*://*.google.*/*`
- `http://*.net/game.php*`
- `http://*.net`

[2011-05-15 05:01] skrul commented on #37
I would love to have a way to automate this rather than playing whack-a-mole.  When building the index, I could imagine getting a few thousand popular URLs, running all the @includes against them, and if a pattern matches too many URLs just not include it.

Thoughts?

[2011-05-15 06:35] erikvold opened #38 "Save indexes folder in Profile directory"
See discussion in #7

[2011-05-15 06:39] #35 closed, assigned to erikvold

[2011-05-15 06:39] #38 closed, assigned to erikvold

[2011-05-15 06:47] #36 closed, assigned to nobody

[2011-05-15 06:50] erikvold opened #39 "Asynchronously copy the indexes directory"

[2011-05-15 16:29] supahgreg opened #40 "GF_GetIndexesDir callback not invoked if profile 'indexes' DNE"

[2011-05-15 16:31] supahgreg commented on #40
[/supahgreg/greasefire/compare/issue-40](https://github.com/supahgreg/greasefire/compare/issue-40)

[2011-05-15 17:08] #40 closed, assigned to nobody

[2011-05-15 17:08] erikvold commented on #40
Thanks @supahgreg

[2011-05-15 22:18] #7 closed, assigned to erikvold

[2011-05-15 22:19] erikvold commented on #19
Closed by b5d52ba748fd07cd3054f55fcc45a46e9febd36b

[2011-05-15 22:19] #19 closed, assigned to nobody

[2011-05-15 22:21] erikvold commented on #32
dup of #19

[2011-05-15 22:21] #32 closed, assigned to nobody

[2011-05-15 22:26] erikvold commented on #26
I think this is completed. New index files are used after an update.

[2011-05-15 22:26] #26 closed, assigned to nobody

[2011-05-15 22:37] erikvold opened #41 "Compare info.ini dates of indexes dir in profile and xpi"
From #7

[2011-05-15 22:38] #34 closed, assigned to erikvold

[2011-05-15 22:39] erikvold opened #42 "Launch v1.0.6"
Making a issue to keep open for the v1.0.6 milestone b/c I can't add new issues to a milestone w/out open issues...

[2011-05-15 22:39] erikvold commented on #42
For tracking: https://github.com/skrul/greasefire/issues?milestone=1&state=open

[2011-05-15 22:40] erikvold commented on #7
#41 is a follow-up

[2011-05-19 18:16] erikvold commented on #42
@skrul v1.0.6 is ready to go imo.

[2011-05-19 20:41] erikvold opened #43 "Use Promise instead of aCallback"
callback API's suck, yet I implemented one in b5d52ba748fd07cd3054f55fcc45a46e9febd36b because I didn't want to import a `Promise` class, but I think it's better to do so now because it will clean up the code a bit.

[2011-05-19 22:32] #37 closed, assigned to nobody

[2011-05-19 22:34] skrul opened #44 "Automate "bad includes" handling"
I would love to have a way to automate updating the "bad includes" list (see https://github.com/skrul/greasefire/blob/master/java/greasefire-scraper/src/com/skrul/greasefire/Generate.java#L49) rather than playing whack-a-mole.

When building the index, I could imagine getting a few thousand popular URLs, running all the @includes against them, and if a pattern matches too many URLs just not includ

[2011-05-19 22:36] skrul commented on #42
Just submitted it to AMO.

[2011-05-19 22:39] #42 closed, assigned to skrul

[2011-05-21 01:47] erikvold commented on #44
This sounds like a good test to me. We could make random urls and test those too.

[2011-05-22 21:34] supahgreg commented on #44
Possible sources:
- http://www.google.com/adplanner/static/top1000/
- http://www.alexa.com/topsites

[2011-05-25 03:48] supahgreg opened #45 "Left-click only for menu item"
First, we might want to revisit the `oncommand` issue to see if it is still around.

If `onmouseup` is kept for the `menuitem`, a left-click should be all that triggers opening the results window.

[2011-05-25 03:51] havanamike opened #46 "Greasefire won't install in Firefox 4"
Everything I tried to install the latest Greasefire will not work. I have GreaseMonkey version 0.9.3 and trying to install 1.0.6

[2011-05-25 03:53] erikvold commented on #46
What happens when you try to install Greasefire?

[2011-05-25 14:32] havanamike commented on #46
It shows in the extensions list,but as disabled. When I try to click the Enable button it does not respond. If I then restart Firefox, it is no longer displayed in the listing; like it never really installed.

[2011-05-25 14:33] havanamike commented on #46
I have attempted to install from the FireFox Add-ons page and downloaded the xpi locally and tried to install from my desktop. Neither manner is working.

[2011-05-25 15:32] supahgreg commented on #46
Any errors in the error console?

[2011-05-25 15:35] erikvold commented on #46
@havanamike what OS are you on?

[2011-05-25 18:09] havanamike commented on #46
Windows Vista
FF4
GreaseMonkey version 0.9.3

[2011-05-25 18:15] havanamike commented on #46
They really need to move that Close button

[2011-05-26 02:37] havanamike commented on #46
Well, I guess we can close this. When I started up FF this evening, I noticed the Greasemonkey icon had the fire behind it again. Looks like GF finally installed.

[2011-05-26 02:37] #46 closed, assigned to nobody

[2011-05-26 05:24] erikvold opened #47 "Support Seamonkey"
Scriptish supports Seamonkey, it'd be nice if Greasefire did as well.

[2011-05-31 01:07] supahgreg opened #48 "Minor whitespace corrections in the README"
https://github.com/supahgreg/greasefire/compare/readme

[2011-05-31 01:30] #48 closed, assigned to nobody

[2011-06-17 20:25] erikvold opened #49 "Greasefire suggestions window should open in a new tab"
The ux trend these days is to open new tabs and not new windows.

[2011-06-22 22:46] decembre opened #50 "Some script are not in the base..."
By example :
<a href="http://userscripts.org/scripts/show/5016">Flickr Functional Suite</a>

[2011-06-22 22:47] #50 closed, assigned to nobody

[2011-07-12 17:12] erikvold opened #51 "Option to open script page in a new tab"
"Could you please make and option to open script page in new tab?"

https://addons.mozilla.org/en-US/firefox/addon/greasefire/reviews/294026/

[2011-07-17 16:14] lehmanna opened #52 "Ignore Scripts"
It would be nice if Greasefire had a local blacklist to ignore certain scripts that are unwanted or annoying (e.g. scripts for *.com domains etc.)

[2011-08-10 21:00] tbs opened #53 "Greasefire prevent Nightly to startup"
After today update of nightly build, my browser never startup until I disabled the extension.

Mozilla/5.0 (Windows NT 6.1; WOW64; rv:8.0a1) Gecko/20110810 Firefox/8.0a1

Someone else confirms this problem?

[2011-08-11 02:09] supahgreg commented on #53
Confirmed.

Build identifier: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:8.0a1) Gecko/20110810 Firefox/8.0a1

[2011-08-11 02:28] supahgreg commented on #53
`resource://gre/modules/ISO8601DateUtils.jsm` has been removed

https://bugzilla.mozilla.org/show_bug.cgi?id=543535

[2011-08-11 18:23] erikvold commented on #21
doing #49 would mean we can ignore this one.

[2011-08-11 18:32] erikvold commented on #24
Gm and Scriptish have global excludes, perhaps we can use those?

[2011-09-06 07:17] erikvold commented on #53
Closed by 0d8340b739edfd532a85c95609b4085c4623e9dc

[2011-09-06 07:17] #53 closed, assigned to erikvold

[2011-09-07 14:42] lastmoexit opened #55 "no longer updates"
using Firefox 3.6.22, Greasefire index will no longer update ...stuck on 60742 ...when update button is clicked, immediately says Update Complete

[2011-09-07 15:18] supahgreg opened #56 "Release new version to AMO"
Firefox 8 (currently in Aurora) and later versions will not start with the current AMO version of Greasefire.  See #53 and AMO reviews.

[2011-09-07 20:57] erikvold opened #57 "Make Greasefire restartless"

[2011-09-08 02:32] erikvold commented on #55
hmm looks like the `include.dat` and `exclude.dat` files are missing in http://skrul.com/projects/greasefire/update.php

[2011-09-08 02:39] erikvold commented on #55
I'm not sure what is going on there, maybe @skrul can take a look at some point?

[2011-09-08 03:39] skrul commented on #55
Hm, yes there does seem to be a problem with the program that builds the databases:

INFO: page: 7 25 scripts
Sep 7, 2011 2:08:40 AM com.skrul.greasefire.Generate main
INFO: Scripts dir: scripts
Sep 7, 2011 2:08:40 AM com.skrul.greasefire.Generate main
INFO: Dest dir: tmp
Sep 7, 2011 2:09:06 AM com.skrul.greasefire.Generate main
INFO: at 0 of 67274, last id was 100000
Sep 7, 2011 2:09:31 AM com.sk

[2011-09-08 13:39] lastmoexit commented on #55
thank you :)

[2011-09-11 01:04] Mostafa20xx commented on #55
for me too no update since August 28
any solution?

[2011-09-13 03:47] Mostafa20xx opened #58 "No updates since August 28"
I need help
no longer updates since August 28

[2011-09-18 22:34] lastmoexit commented on #55
just curious if there are any updates on this issue ...thanks

[2011-09-19 00:02] erikvold commented on #55
might be a little while.

[2011-10-01 07:04] Mostafa20xx commented on #55
when this is too much?!

[2011-10-08 21:01] erikvold opened #59 "FF v1.0.7"

[2011-10-08 21:01] #59 closed, assigned to nobody

[2011-10-09 14:34] frog23 opened #60 "homepageURL in install.rdf points to non existing site"
In https://github.com/skrul/greasefire/blob/master/firefox/install.rdf#L26 the tag em:homepageURL points to http://skrul.com/blog/projects/greasefire but that site does not exist anymore.
Either that site should be fixed by @skrul or the URL should point somewhere else, preferably the project page here at github.

[2011-10-09 14:38] frog23 opened #61 "Filter in Firefox does not work for capitalized letters"
(copied from http://code.google.com/p/greasefire/issues/detail?id=17 plus some minor adjustments)

In the Firefox version, the filtering of the scripts does not work correctly. When typing any capitalized letter, no results are returned. This is because in the filter, the filter string is matched against a lower case version of the name of the script, but the search term itself is not converted to

[2011-10-10 17:37] Mostafa20xx commented on #59
i tried the experimental version and still cannot update the database!

[2011-10-13 16:06] kasper93 opened #62 "index update"
Hi,
In new index update jar there is no exclude.dat and include.dat files (I think this a problem) so it fail to update index of greasefire. I have index from 26.08 and it can't update anymore ;/ Maybe something else causes the problem, but anyway it is unable to update index.

Regards

[2011-10-13 17:40] erikvold commented on #58
dup of #55

[2011-10-13 17:40] #58 closed, assigned to nobody

[2011-10-13 17:40] erikvold commented on #62
dup of #55

[2011-10-13 17:40] #62 closed, assigned to nobody

[2011-10-15 11:45] frog23 commented on #44
I don't think the problems are scripts that appear on many popular pages. For popular pages there are usually a lot of scripts, so some strange scripts that want to appear on all of them are usually buried somewhere deep within this list. The problem are scripts like [this](http://userscripts.org/scripts/review/83247), just like the ones covered by the badIncludesList. As it was already suggested

[2011-10-15 12:01] frog23 commented on #52
duplicate, see #44

[2011-10-15 12:05] frog23 opened #63 "make updateURL adjustable"
It would be nice to have the [updateURL](https://github.com/skrul/greasefire/blob/master/firefox/components/gfUpdaterService.js#L14) of greasefire be adjustable, so I can point them to my own index-files. This would now be especially useful as #44 and #55 are not resolved.
The updateURL could be changed via the settings panel of the addon, or via a suitable setting in about:config.

[2011-10-15 12:24] kasper93 opened #64 "number of pages in downloadscripts"
Now there is 2698 pages on userscripts.org but downloadscripts.java have hard coded 1500 and after that it stops downloading, so I think it  should be changed. (see https://github.com/skrul/greasefire/blob/master/java/greasefire-scraper/src/com/skrul/greasefire/DownloadScripts.java#L54)

[2011-11-02 10:12] lastmoexit commented on #55
hello, again ...just dropping a note wondering how things are coming along ...thanks

[2011-11-04 18:07] limex commented on #55
I'm also desperately waiting for a fix. I would be very sad if this great tool would be discontinued.

[2011-11-05 11:36] frog23 commented on #55
For those who don't mind replacing the files in your Firefox installation, you can get an updated index [here](http://dl.dropbox.com/u/1844215/index_2011-11-05T09%3A17%3A00Z.jar)
just extract the files in the archive and put them in the `greasefire@skrul.com/indexes` folder of your Firefox installation.
BTW: This index has a lot more blacklisted scripts, because it used the Regular Expression that

[2011-11-10 02:11] lastmoexit commented on #55
@frog23: thank you for the manual fix ...is there a link i can regularly check for updates containing the latest .jar file until the issue is resolved?

[2011-11-27 15:54] frog23 commented on #55
@lastmoexit: sorry no, as I have currently no time for this. I might update the provided file manually every couple of weeks, if the problem doesn't get fixed soon. If somebody wants to set up an new system that automatically creates these files, I'd be glad to provide my modified version of the software.

[2011-11-28 17:11] skrul commented on #55
Hey all, I think I got this fixed last night.  Let me know if it is working again!

[2011-11-28 19:55] frog23 commented on #55
@skrul I just tested it and it looks great. Thanks for fixing it. This issue can be closed now.

[2011-11-28 19:59] skrul commented on #55
Thanks for testing it out :)

[2011-11-28 19:59] #55 closed, assigned to nobody

[2012-01-24 16:51] lastmoexit opened #65 "index no longer updates"
using Firefox 3.6.25 (Greasefire v1.04; Greasemonkey v0.8.20100408.6), Greasefire index will no longer update past 2012-01-20  ...when update button is clicked, immediately says "Error updating: status = 0x0 http = 404" ...able to manually update from http://skrul.com/projects/greasefire/indexes/

[2012-01-25 08:18] frog23 commented on #65
I can confirm this. This bug is independent of Firefox, Greasefire or Greasemonkey, but an error in the server providing the indexes. Greasefire calls http://skrul.com/projects/greasefire/update.php which forwards to (today) http://skrul.com/projects/greasefire/indexes/index_2012-01-24T10:00:00Z.jar which does not exist, as does the file for 2012-01-23. The corresponding folders (like 2012-01-23T1

[2012-01-26 06:35] tykiwabydaloc commented on #65
I have the same problem "Error updating: status = 0x0 http = 404"
MFF 9.0 with Scriptish + all newest MFF plugins and addons + all newest W XP patches + all newest Comodo ISP patches

[2012-01-27 19:00] lastmoexit commented on #65
everything is working fine now ...thank you ...peace

[2012-01-27 19:00] #65 closed, assigned to nobody

[2012-02-15 16:21] laclcia opened #66 "does not update in firefox 10"
the update button does not update in Firefox 10. says script count 0.

[2012-05-18 03:23] erikvold commented on #56
I assume this works now?

[2012-05-18 03:23] #56 closed, assigned to erikvold

[2012-05-18 03:26] erikvold commented on #66
I think this was a server side issue that is now resolved.

[2012-05-18 03:26] #66 closed, assigned to nobody

[2012-05-18 03:28] erikvold commented on #21
Closing.

[2012-05-18 03:28] #21 closed, assigned to nobody

[2012-05-18 03:28] erikvold commented on #43
closing for Jetpack milestone.

[2012-05-18 03:28] #43 closed, assigned to erikvold

[2012-05-18 03:29] erikvold commented on #57
This is implicit in the Jetpack milestone.

[2012-05-18 03:29] #57 closed, assigned to erikvold

[2012-05-18 03:32] erikvold commented on #33
I'm going to close this since I want to rewrite the page as a addon page with the addon kit now.

[2012-05-18 03:32] #33 closed, assigned to nobody

[2012-05-18 03:33] #60 closed, assigned to erikvold

[2012-05-18 03:34] erikvold commented on #63
Closed by 0bcf16b626b96c9fcab3904b1f4afbb3fda74326

[2012-05-18 03:34] #63 closed, assigned to erikvold

[2012-05-18 03:35] erikvold commented on #61
Closed by ddd54158a9089d161b0baa9db39172b9e7e445ce

[2012-05-18 03:35] #61 closed, assigned to erikvold

[2012-05-18 04:03] #45 closed, assigned to erikvold

[2012-05-30 20:01] erikvold opened #67 "Create about:greasefire page"

[2012-06-25 02:22] kynnjo opened #68 "Options > Update now fails (404 status)"
Clicking on the [Update now] button of the Greasefire Preferences dialog fails immediately with the error message:

Error updating: status = 0x0 http = 404

FWIW, as of today the content of the file at http://skrul.com/projects/greasefire/indexes/latest is the string

2012-06-23T09:00:00Z

but neither of the following exists:

http://skrul.com/projects/greasefire/indexes/2012-06-23T09:00:00Z/
http

[2012-07-24 05:35] Mr-Dead commented on #49
What is the priority for this issue?

[2012-07-24 08:57] erikvold commented on #49
The Jetpack branch is something that I would like to do, but I haven't talked it over with @skrul yet.  I was going to wait until the branch is done.  So to answer your question it isn't a high priority.  I'm not able to work on it for a few weeks at least now too, so if you would like to pick it up then that would be great!

fwiw there is a new module that will land in the Addon SDK (aka Jetpack)

[2012-07-25 02:02] Mr-Dead commented on #49
Thanks for the reply Erik.  I would love to pick up the project, but I am just starting to learn how to code.  Maybe in a few weeks I'll be able to play around with it, but no promises.  I'll keep an eye on this, as I'll be happy to help out if needed.

[2012-07-25 19:55] posimosh commented on #68
Is there any way you could post this info with more detailed instructions on the ff Greasefire add on page? I can probably figure out how to fix this through trial and error but I fear that my instructions wouldnt help the folks at mozilla.com complaining about the 404 they get when trying to update.

[2012-08-02 22:43] lastmoexit opened #70 "Update not working"
returns "Error updating: status = 0x804b001e http = null"

[2012-08-03 07:31] frog23 commented on #70
This is due to the fact that the server http://www.skrul.com/ is not available anymore. @skrul: can you take care of this? Or should somebody else set up a new server for distributing the index packages?

[2012-08-03 16:23] skrul commented on #70
It would be great if someone would like to take the hosting over and I'm happy to help get that set up.  All it requires is to run a java program on a daily basis and also hosts a PHP script that helps the extension find the latest version of the index.

[2012-08-07 21:25] alexolog opened #71 "Last update and number of installs reported incorrectly"
The Last update and number of installs differ between the table on the left and the script page on the right, sometimes significantly.
This makes sorting by these fields useless

Some examples: (invoked on google.com)
http://userscripts.org/scripts/show/76890
http://greasefire.userscripts.org/scripts/show/33156

Using FireFox 14.0.1 and scriptish

[2012-08-07 21:29] alexolog opened #72 "Reports non-existing scripts"
Greasefire reports scripts that do not exist

Some examples: (invoked on https://www.google.com)
http://greasefire.userscripts.org/scripts/show/135105
http://greasefire.userscripts.org/scripts/show/135022

Using FireFox 14.0.1 and scriptish

[2012-08-12 00:10] beckyeeky commented on #70
How much date quota per month are there as per your experience?
And Would you please  post a guide to set the host up and provide an update that enables script index url customization?

[2012-08-23 15:45] Pxlnight13 commented on #70
Perhaps userscripts.org will help out. I'd appreciate if we can get the ball rolling on this. If there's anything I can do to help, let me know.

[2012-08-23 15:46] Pxlnight13 commented on #68
See issue #70
Skrul.com is down.

[2012-08-25 15:17] frog23 commented on #70
I am going to host the index files on my server. I am currently still working on getting everything set up. However since greasefire.userscripts.org is currently down (further details see here: http://userscripts.org/topics/115646 ), it is not possible to download the latest scripts and build a current index. I have however still an index I build on 2012-07-31, so it is at least possible to get a

[2012-08-25 17:36] Pxlnight13 commented on #70
That's very encouraging! I wish I could do more to  help, but I haven't had any contact with the USO guys. Not for lack of trying, but they are just hard to get a hold of so far.
I'll see what I can do.

Glad to finally see some movement on this.
-Pxlnight13

[2012-08-27 07:41] frog23 commented on #70
OK, my server is working now. To test it, you can point your update-URLs to `http://frog23.net/greasefire/update.php`
For that do the following steps,
- Go to `about:config` and confirm that you know what you are doing.
- Search for `greasefire.update_url` and enter `http://frog23.net/greasefire/update.php` as a value.
- Go to the addons page and open the settings window of Greasefire.
- Click on

[2012-08-27 17:04] skrul commented on #70
@frog23 thank you for doing this!  I'm sorry I don't have the time to maintain this anymore.

As for greasefire.userscripts.org, you may want to try replacing the URLs in this file:

https://github.com/skrul/greasefire/blob/master/java/greasefire-scraper/src/com/skrul/greasefire/DownloadScripts.java

with just userscripts.org and it might just work.

[2012-08-29 22:40] bimzcy commented on #70
@frog23 thank you for your update and @skrul thank you for your guide. I just use frog23's index_2012-07-31T12-00-00Z.jar, decompess to greasefire@skrul.com\indexes folder, and modify the chrome\content\picker.js in greasefire@skrul.com.xpi, change the URL of const US_BASE to http://userscripts.org/scripts/ and now the Greasefire works like charming.Please Keep updating, I'm supporting you frog23.

[2012-09-01 07:51] skyp1 commented on #70
Dear Frog23
I use your sever  but still cannot update(  greasefire1.0.4.4 and FireFox3.6.28 )

[2012-09-01 15:58] frog23 commented on #70
@skyp1 : You need version 1.0.8 of Greasefire in order to use the `greasefire.update_url` in `about:config`. Before that the updateURL was hardcoded within the addon. Besides that, you should really update your Firefox. Version 3.6 is not supported anymore and has been without security fixed since April.

@skrul and @bimzcy : I know that I could just use the regular URL of userscripts.org but I st

[2012-09-08 20:47] frog23 commented on #70
http://greasefire.userscripts.org is working again and so I was able to update the index. This time I as able to also test the code to exclude scripts that don't exist anymore (see #72). Please test it and report any problems. If no problems occur, I think we should include the new updateURL in the addon. @erikvold : what do you think?

[2012-12-11 02:32] kasper93 commented on #70
@frog23 I have a problem with updating on Aurora.
`Error updating: Not enough arguments [nsIWebBrowserPersist.saveURI]`
I found this,https://bugzilla.mozilla.org/show_bug.cgi?id=815001 it's fixed, but greasefire doesn't work...

Your index is great sadly greasefire is dead and it seems no one going to run this project :<

[2013-01-27 16:50] Vampire commented on #70
@kasper93 In http://userscripts.org/topics/115646 Marti gives a version of Greasefire where this issue is fixed in his comment written "Jan 14, 2013 11:31am"

@frog23 With using the version of Marti I just referred to, the updating works, but Greasfire says it has 77441 scripts and says the index is created "Fr 25 Jan 2013 08:13:21 CET", but http://userscripts.org/scripts says there are currently

[2013-01-27 18:36] kasper93 commented on #70
@Vampire Thanks for the info. About scripts count, everything is working fine. Global scripts are filtered to show only scripts matching current website and not show junk scripts :) See: https://github.com/skrul/greasefire/blob/master/java/greasefire-scraper/src/com/skrul/greasefire/Generate.java#L49

[2013-01-27 19:00] Vampire commented on #70
Hm, so there are 20000 Scripts that run for every page?
And you really consider all those junk scripts?
There could well be useful scripts that match every page, e. g. some script that adds a "Share with <your favorite social site>" to each link on each page, or whatever else. :-/
Maybe those global scripts should be shown in a tab separated from the site specific scripts. :-)

[2013-01-29 07:48] frog23 commented on #70
@Vampire: As @kasper93 has pointed out: not all of the scripts are included. But there are also other reasons why some scripts are excluded. As I have pointed out: I modified the code for downloading the scripts and generating the index a bit, to also fix some other issues. For instance, I am not only filtering the scripts by the list of disallowed include patters, but I also use a Regular Express

[2013-01-29 09:21] Vampire commented on #70
Thanks for the explanation @frog23. :-)
I agree that a monkey on fire on every page is not very useful.
What do you think about making the "Scripts for ..." popup tabbed, one tab for site specific scripts, one tab for global scripts.
The monkey will only be on fire if there are site specific scripts, but you can still look what global scripts are available.
When opening the "Scripts for ..." popup

[2013-01-29 18:27] skrul commented on #70
@frog23 I'm happy to provide access if you want to help maintain this.  can you send me your email address and I can set you up?  not sure what is the best way to exchange email addresses, you can follow me on twitter @skrul and I can DM mine :)

[2013-02-11 14:06] alexolog commented on #70
So, is there a chance for Greasefire to be maintained again?

[2013-02-15 15:34] alexolog commented on #70
The index is not updating since Feb 1.

[2013-02-15 15:38] kasper93 commented on #70
Indeed. @frog23 Could you check your server when you have time?

[2013-02-16 11:05] frog23 commented on #70
Hey everybody, sorry I haven't replied earlier. It has been quite a busy time for me in the past weeks.
@alexolog : Thanks for pointing that out. The new index is currently generated, as I write this and should become available in the next hour or so.
@skrul : Thank you very much for the offer of giving me access to the repository. I have thought about this quite thoroughly and can to the conclusi

[2013-02-16 14:00] alexolog commented on #70
Here's a suggestion:
Send your fixes to @skrul, who would update the Mozilla page with the new version
_and_ change the description to say that a new maintainer is needed for the add-on.

This will take care of the short and (hopefully) long term.

[2013-02-16 14:04] tony1223 commented on #70
If that's a indexing issue or a server issue , I could help to do some bug
fixing or debug job if you need,
I am no longer to have time on developing new feature but I think it's
still ok for me to do some routine job.

Let me know if there's anything I could work for this. :)

2013/2/16 alexolog notifications@github.com

[2013-03-24 19:27] frog23 commented on #70
@alexolog I think you misunderstood me. I did not do any modifications to the addon. They where done by @Martii (or Marti on userscripts.org, see [the this post](http://userscripts.org/topics/115646#posts-477889)). All my changes have to do with the Java code for generating the index. So they don't help for the current issue.
Despite this, I like the idea of publishing a temporarily fixed version

[2013-05-31 21:06] alexolog commented on #70
Update not working again

[2013-05-31 21:34] frog23 commented on #70
@alexolog : I am assuming, you are using my update-url/index.
I had some issues in the past week with building the index and I am not quite sure what caused them, however I got it to work again and the latest index should be 2013-05-29. I just checked: the server is up and running and I was able to download the most recent file with GF without any problems.
Could you specify what precisely the pro

[2013-05-31 23:00] alexolog commented on #70
The first error that I got was due to an API change.
Changing line 240 of gfUpdaterService.js to add a dummy privacy context seems to have solved it:
      self._wbp.saveURI(uri, null, null, null, headers, self._dest, null);

However, now I get "Error updating: status=0x804b001e http=null"

Is there an updated version that I should be using?

[2013-06-01 10:11] Martii commented on #70
@alexolog and cc: @frog23
I usually don't comment directly here since it's editable by the maintainers... but the fix you mentioned is the one that I resolved a while back. If you are using the AMO release or this projects build then it won't work. Erik pushed some of my code changes a few days ago <em>(28th to be exact)</em> so you may be seeing an update at some point to GF... however until then

[2013-08-29 11:47] Jan02 opened #74 "Index update: error updating"
Timestamp: 2013-08-29 07:43:04
Error: [Exception... "Not enough arguments [nsIWebBrowserPersist.saveURI]"  nsresult: "0x80570001 (NS_ERROR_XPC_NOT_ENOUGH_ARGS)"  location: "JS frame :: jar:file:///Z:/portableapps/PortableApps/FirefoxPortable/Data/profile/extensions/greasefire@skrul.com.xpi!/components/gfUpdaterService.js :: gfUpdaterService_startUpdate/< :: line 240"  data: no]
Source File: jar:fi

[2013-08-29 12:35] frog23 commented on #74
What version of Greasefire are you using and what is your `greasefire.update_url` in `about:config`? You need to use the most recent version which was bundled by Marti: http://userscripts.org/topics/115646#posts-477889 and not the one from addons.mozilla.org.
I hope this helps
  Frog23

[2013-09-03 05:28] #74 closed, assigned to nobody

[2013-10-22 08:12] jean commented on #70
Just installed (1.0.8), update fails with `Error updating: Not enough arguments [nsIWebBrowserPersist.saveURI]` on Firefox 24

[2013-10-22 21:36] Martii commented on #70
See my [comment above](#issuecomment-18786641). :)

[2013-10-22 21:44] alexolog commented on #70
Still no news on further development, I trust?

[2013-10-22 22:34] Martii commented on #70
Nope... but I have been observing one of the maintainers activities for a while. It might be some time before he graces GF with his presence. In the meantime, in a couple of days hopefully, I'll be releasing another prc with some fixes. All the prior prc's will be eventually removed from my repository when this is published.

[2014-03-18 15:57] cengique commented on #70
For your convenience, Martii's latest 1.0.8.1rc6pre version is available for download here:
http://sourceforge.net/projects/greasemonkey/files/

I can confirm that it just got a recent (March 14, 2014) update on FF 27 in Linux.

[2014-05-06 20:32] MysteryIII commented on #70
Is it possible to make Greasefire compatible with Greasyfork.org? I already asked the Administrator and he agrees to make the necessary changes on his page if somebody would tell him what is necessary.
How is it? I really would love to see Greasefire working with Greasyfork!

https://greasyfork.org/forum/discussion/122/greasefire-compatibility#Item_2

[2014-08-19 11:01] newstarshipsmell opened #75 "userscripts-mirror.org support"
The Greasefire add-on hasn't been working lately due to excessive downtime at userscripts.org. There's a mirror of userscripts.org at http://userscripts-mirror.org/. It would be nice if the add-on could be updated to include a preferences text-entry box designating an alternate site, e.g. http://userscripts-mirror.org/, so the add-on would function properly again.

[2014-11-19 20:41] SamB commented on #75
Better yet would be also supporting the sites that seek to actually _replace_ userscripts.org, many of which are listed on http://wiki.greasespot.net/User_Script_Hosting.  I imagine their operators would be open to providing the sort of index that greasefire needs.  Hopefully you could even get them to all agree on its format ;-).

[2014-12-06 18:43] alexolog commented on #75
Adding my vote to SamB's suggestion

[2016-02-15 03:38] Riajyuu opened #76 ""N script(s) available" menu item disappeared"
When greasefire(2) was moved to Firefox option menu (i.e. in the sanwich button) or other extension like Puzzle Bar by quicksaver and restarted the browser, the "N script(s) available" menu item will disappeare and will re-appear ONLY if you move back to the original position and restart the browser again.
PS on ff 44 release.

[2017-04-25 11:09] Mannshoch opened #77 "Feature Request: Please add multiprocess support"
Please add multiprocess support

[2017-07-30 22:43] netllama commented on #77
I'd love to have this too, but considering how this project hasn't released a single update in years, it seems incredibly unlikely that it will ever happen.